<div class="recipie-cont container">
  <div class="recipies" *ngFor="let recipie of recipies">
    <div class="row">

      <span class="recipie-title center"><p [class]="difficultyColor(recipie)">{{recipie.title}}</p></span>
      <p class="center recipie-info">Have I cooked this? <strong>{{recipie.tried()}}</strong> \\\ ingredients: <strong>{{recipie.ingredients}}</strong>
      <p class="center recipie-info">directions: <strong>{{recipie.directions}}</strong></p>

      <div class="center">
        <button class="btn" (click)="showEditForm(recipie)">Edit!</button>
      </div>

      <br><br>

      <div *ngIf="recipie.showForm" id="edit-form" [class]="difficultyColor(recipie)">
        <h3>edit {{recipie.title}} name:</h3>
        <input class="form-control" [(ngModel)]="recipie.title">
        <label>edit recipie directions:</label>
        <input class="form-control" [(ngModel)]="recipie.directions">
        <label>enter recipie difficulty (1-3): {{recipie.difficulty}}</label>
        <br>
        <input type="radio" [(ngModel)]="recipie.difficulty" [value]="1">1 (Low Priority)<br>
        <input type="radio" [(ngModel)]="recipie.difficulty" [value]="2">2 (Medium Priority)<br>
        <input type="radio" [(ngModel)]="recipie.difficulty" [value]="3">3 (High Priority)
        <br><br>

        <button class="btn" (click)="finishedEditing(recipie)">Consider Me Edited</button>
      </div>
      <hr>
    </div>
  </div>
</div>

<!-- <br><br><br> -->
<!-- <div>
   <h3>{{selectedRecipie.title}}</h3>
   <p>Recipie Attempted? {{selectedRecipie.tried()}}</p>
  <h3>Edit Recipie</h3>
  <label>Enter Recipie Directions:</label>
  <input class="form-control" [(ngModel)]="selectedRecipie.directions">
   <label>Enter Recipie Difficulty (1-3):</label>
   <br>
   <input type="radio" [(ngModel)]="selectedRecipie.difficulty" [value]="1">1 (Low Priority)<br>
   <input type="radio" [(ngModel)]="selectedRecipie.difficulty" [value]="2">2 (Medium Priority)<br>
   <input type="radio" [(ngModel)]="selectedRecipie.difficulty" [value]="3">3 (High Priority)
  </div> -->
